{% extends 'base.html' %}
{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}
{% load static %}


{% block body %}

    {% include 'messages/success.html' %}

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="thumbnail">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-responsive">
                    {% endif %}
                    <div class="caption">
                        <h1>
                            {{ post.title }}{% if post.draft %} <span style="color: #bf0000;">Draft</span> {% endif %}
                            {% if post.publish > today %}<span style="color: darkorchid"> | Future Post</span>{% endif %}
                            <small>{{ post.publish|timesince }} ago </small>
                        </h1>
                        {% if post.user.get_full_name %}
                            <p><span style="color: #2b669a">Author: <strong>{{ post.user.get_full_name }}</strong></span></p>
                        {% endif %}
                        {% if post.tags %}
                            <p>
                            <span style="color: #2b669a">Tags: </span>
                            {% for tag in post.tags.all %}
                               <strong><a href="{% url 'post:tagged' tag.slug %}">#{{ tag }}</a></strong>
                            {% endfor %}
                            </p>
                        {% endif %}
                        <span style="color: #2b669a">Comments: <strong>{{ post.approved_comments.count }}
                            {% if user.is_authenticated %}
                                of {{ post.comments.count }}
                            {% endif %}</strong>
                        </span>
                        <hr>
                        <p>{{ post.content|safe|linebreaks }}</p>

                        <br><br><hr>
                        <h3>Comments:</h3>
                        {% include 'post/comment_add.html' %}
                        <hr/>
                        {% for comment in post.comments.all %}
                            {% if user.is_authenticated or comment.approved_comment %}
                                <div>
                                    <strong>{{ comment.name }}</strong> | {{ comment.created_date }}
                                    {% if not comment.approved_comment %}
                                        <a class="btn btn-success btn-xs" href="{% url 'post:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                        <a class="btn btn-danger btn-xs" href="{% url 'post:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                    <p>{{ comment.text|safe|linebreaks }}</p>
                                </div>
                            {% endif %}
                            {% empty %}
                                <p><em>No comments here yet</em></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
